@font-face {
    font-family: 'arcadeclassicregular';
    src: url('arcadeclassic-webfont.woff2') format('woff2'),
    url('arcadeclassic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pressStart2P';
    src: url('PressStart2P-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    background-size: 250px;
    background-image: url("controller-vector.png");
    background-repeat: inherit;
}
h1, h2, h3, h4, h5, h6, li, fieldset {
    font-family: 'arcadeclassicregular' , 'sans-serif';
}
.dropdown-menu a {
    background-color: #212529;
    color: white;
}
.dropdown-menu a:hover {
    background-color: #0d6efd;
    color: white;
}
.site-content {
    border-radius: 15px;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4);
}
#primary-nav {
    background-color: black;
}
nav {
    background-color: black;
    justify-content: space-between;
}
.navbar-brand {
    font-size: 1.5rem;
}
.navbar-collapse {
    padding-left: 5px;
}
#navbarToggler {
    justify-content: space-between;
}
div.carousel-caption > h5 {
    font-family: 'arcadeclassicregular', sans-serif;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.6);
    margin-bottom: 0;
}
div.carousel-caption > p {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.6);
}
@media (min-width: 768px) {
    .carousel {
        margin: auto;
        width: 64%;
        height:36%;
    }
    .myform {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
    .gamedisp {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
}
.mybtn {
    background-color: black;
}
/*.mybtn a:hover {*/

/*}*/
.myform {
    background-color: rgba(0,0,0, 0.4);
    border: 1px solid rgba(0,0,0,0.6);
    border-radius: 1.1rem;
}
.gamedisp {
    background-color: rgba(0,0,0, 0.4);
    border: 1px solid rgba(0,0,0,0.6);
    border-radius: 1.1rem;
}
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{ color: #fff;  }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}
.dropdown {
  --animate-duration: 0.25s;
}
.rankNum {
    font-family: 'arcadeclassicregular';
}
.pagination {
    font-family: 'arcadeclassicregular', sans-serif;
    width: 50%;
    margin: auto;
    justify-content: center;

}