<!DOCTYPE html>
<html>

<head>
    {% if request.user.is_authenticated %}
        {% include 'home/navTemplate.html' %}
    {% else %}
        {% include 'home/navOutTemplate.html' %}
    {% endif %}
</head>


<br>
<section class="container site-content animate__animated animate__fadeIn animate__faster">
    <div class="container pb-3">
        <h2>Latest Releases:</h2>
        <p style="padding-left: 2em;">Here are some of the most recent releases.</p>
        <div class="container-fluid">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="{% url 'game-article-template' %}"><img class="d-block w-100" src="/static/Images/P5S-img.jpg"
                                                                         alt="First slide"></a>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Persona 5 Strikers</h5>
                            <p>The Phantom Thieves are back in action!</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <a href="{% url 'game-article-template' %}"><img class="d-block w-100 img-responsive"
                                                                         src="/static/Images/Mario-3D-World.jpg" alt="Second slide"></a>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Super Mario 3D World + Bowser's Fury</h5>
                            <p>Mario's back with both old and new adventures</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <a href="{% url 'game-article-template' %}"><img class="d-block w-100 img-responsive"
                                                                         src="/static/Images/nier-replicant.jpg" alt="Third slide"></a>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Nier Replicant</h5>
                            <p>Witness the events that lead to the critically-acclaimed Nier Automata</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <a href="{% url 'game-article-template' %}"><img class="d-block w-100 img-responsive"
                                                                         src="/static/Images/control-ultimate-edition.jpg" alt="Fourth slide"></a>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Control Ultimate Edition</h5>
                            <p>Remedy's latest and greatest, now with all DLC</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <a href="{% url 'game-article-template' %}"><img class="d-block w-100 img-responsive"
                                                                         src="/static/Images/bravely-default-2-box-art.png" alt="Fifth slide"></a>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Bravely Default II</h5>
                            <p>The anticipated sequel to the 3DS JRPG hit</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="container pt-2">
    <div class="row">
        <div class="container col-md site-content animate__animated animate__backInDown animate__faster" style=" font-family: 'arcadeclassicregular';">
            <h4>Top Upcoming:</h4>
            <ol>
                <li class="container pb-2" style="font-family: 'arcadeclassicregular';">
                    <a href="{% url 'game-article-template' %}"><img class="me-1" width="50" height="70" alt="Ratchet & Clank: Rift Apart" src="https://www.playstationlifestyle.net/assets/uploads/2021/02/image-99.png"></a>
                    <span class="data">
                            <a href="{% url 'game-article-template' %}" style="text-decoration: none; color: white">Ratchet & Clank: Rift Apart</a>
                    </span>
                </li>
                <li class="container pb-2" style="font-family: 'arcadeclassicregular';">
                    <a href="{% url 'game-article-template' %}"><img class="me-1" width="50" height="70" alt="Monster Hunter Rise" src="https://gamepreorders.com/wp-content/uploads/2020/09/cover-art-10.jpg"></a>
                    <span class="data">
                            <a href="{% url 'game-article-template' %}" style="text-decoration: none; color: white">Monster Hunter Rise</a>
                    </span>
                </li>
                <li class="container pb-2" style="font-family: 'arcadeclassicregular';">
                    <a href="{% url 'game-article-template' %}"><img class="me-1" width="50" height="70" alt="Resident Evil Village" src="https://www.androidcentral.com/sites/androidcentral.com/files/styles/large/public/article_images/2021/01/resident-evil-village-box-art.jpg"></a>
                    <span class="data">
                            <a href="{% url 'game-article-template' %}" style="text-decoration: none; color: white">Resident Evil Village</a>
                    </span>
                </li>
            </ol>
        </div>
        <div class="container col-md site-content animate__animated animate__lightSpeedInRight animate__faster" style=" font-family: 'arcadeclassicregular';">
            <h4>Recently Announced:</h4>
            <ul>
                <li class="container pb-2" style=" font-family: 'arcadeclassicregular';">
                    <a href="{% url 'game-article-template' %}"><img class="me-1" width="50" height="70" alt="FF7R: Intergrade" src="https://static.wikia.nocookie.net/finalfantasy/images/7/73/FFVII_Remake_Intergrade_standard_edition_cover_art_for_PS5.png/revision/latest/scale-to-width-down/250?cb=20210226030532"></a>
                    <span class="data">
                            <a href="{% url 'game-article-template' %}" style="text-decoration: none; color: white">FF7R: Intergrade</a>
                    </span>
                </li>
                <li class="container pb-2" style=" font-family: 'arcadeclassicregular';">
                    <a href="{% url 'game-article-template' %}"><img class="me-1" width="50" height="70" alt="Project Triangle Strategy" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpghxOOiBgZpeewvlBFX78Um6Cra0DHsvNKA&usqp=CAU"></a>
                    <span class="data">
                            <a href="{% url 'game-article-template' %}" style="text-decoration: none; color: white">Project Triangle Strategy</a>
                    </span>
                </li>
                <li class="container pb-2" style="family: 'arcadeclassicregular';">
                    <a href="{% url 'game-article-template' %}"><img class="me-1" width="50" height="70" alt="Kena: Bridge of Spirits" src="https://cdn2.unrealengine.com/egs-kenabridgeofspirits-emberlab-s6-1200x1600-182980594.jpg"></a>
                    <span class="data">
                            <a href="{% url 'game-article-template' %}" style="text-decoration: none; color: white">Kena: Bridge of Spirits</a>
                    </span>
                </li>
            </ul>
        </div>
        <div class="container col-md site-content animate__animated animate__backInDown animate__faster" style="font-family: 'arcadeclassicregular';">
            <h4>Most Popular:</h4>
            <ol>
                <li class="container pb-2" style=" font-family: 'arcadeclassicregular';">
                    <a href="{% url 'game-article-template' %}"><img class="me-1" width="50" height="70" alt="Minecraft" src="https://upload.wikimedia.org/wikipedia/en/5/51/Minecraft_cover.png"></a>
                    <span class="data">
                            <a href="{% url 'game-article-template' %}" style="text-decoration: none; color: white">Minecraft</a>
                    </span>
                </li>
                <li class="container pb-2" style=" font-family: 'arcadeclassicregular';">
                    <a href="{% url 'game-article-template' %}"><img class="me-1" width="50" height="70" alt="Fortnite" src="https://store-images.s-microsoft.com/image/apps.39723.70702278257994163.958bb3bc-e151-4401-a360-075b4cb46da9.85b8ec28-bfa4-4a95-9e7a-156869284a19"></a>
                    <span class="data">
                            <a href="{% url 'game-article-template' %}" style="text-decoration: none; color: white">Fortnite</a>
                    </span>
                </li>
                <li class="container pb-2" style=" font-family: 'arcadeclassicregular';">
                    <a href="{% url 'game-article-template' %}"><img class="me-1" width="50" height="70" alt="Call of Duty Warzone" src="https://static.wikia.nocookie.net/callofduty/images/3/3d/Warzone_Artwork_CoDWarzone_MW.jpg/revision/latest/top-crop/width/360/height/450?cb=20200331223136"></a>
                    <span class="data">
                            <a href="{% url 'game-article-template' %}" style="text-decoration: none; color: white">Call of Duty Warzone</a>
                    </span>
                </li>
            </ol>
        </div>
    </div>
</section>
<div class="container text-center">Copyright StackOverflowers Studios&copy; 2021. All rights reserved.</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>