<!DOCTYPE html>
<html>

<head>
    {% if request.user.is_authenticated %}
        {% include 'home/navTemplate.html' %}
    {% else %}
        {% include 'home/navOutTemplate.html' %}
    {% endif %}
    <script src="https://kit.fontawesome.com/c6db85c705.js" crossorigin="anonymous"></script>
    <style>
        table {
            border-collapse: separate;
            border-spacing: 0 15px;
        }
        th,td {
            width: 150px;
            text-align: center;
            padding: 5px;
        }
        .card {
            border-radius: 15px;
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0);
        }
        a {
            text-decoration: none;
            color: white;
        }
    </style>
</head>
<body>
<br>
<div>
    <section class="container site-content animate__animated animate__backInDown animate__faster">
        <h1>New Releases</h1>
    </section>
    <div class="container site-content animate__animated animate__fadeIn animate__faster">
        {#        <div class="card-group pt-2">#}
        {#            <div class="card mb-3" style="max-width: 540px;">#}
        {#                <div class="row no-gutters">#}
        {#                    <div class="col-md-5">#}
        {#                        <img src="https://static.wikia.nocookie.net/megamitensei/images/6/6c/P5R_Key_Art.jpg/revision/latest/scale-to-width-down/340?cb=20190519020504"#}
        {#                             width="100%" height="100%" class="card-img" alt="...">#}
        {#                    </div>#}
        {#                    <div class="col-md-7">#}
        {#                        <div class="card-body">#}
        {#                            <h5 class="card-title">Persona 5 Royal</h5>#}
        {#                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#            <div class="card mb-3" style="max-width: 540px;">#}
        {#                <div class="row no-gutters">#}
        {#                    <div class="col-md-5">#}
        {#                        <img src="https://external-preview.redd.it/2QqVCOrlzpEGLBqZswP9p8LvzmyQePqTRGn9fPXD9aI.jpg?auto=webp&s=a64ad1eca60a76182b7a124bf05fd598a8108b98"#}
        {#                             width="100%" height="100%" class="card-img" alt="...">#}
        {#                    </div>#}
        {#                    <div class="col-md-7">#}
        {#                        <div class="card-body">#}
        {#                            <h5 class="card-title">Xenoblade Chronicles: Definitive Edition</h5>#}
        {#                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#            <div class="card mb-3" style="max-width: 540px;">#}
        {#                <div class="row no-gutters">#}
        {#                    <div class="col-md-5">#}
        {#                        <img src="https://cdn2.unrealengine.com/egs-kenabridgeofspirits-emberlab-s6-1200x1600-182980594.jpg"#}
        {#                             width="100%" height="100%" class="card-img" alt="...">#}
        {#                    </div>#}
        {#                    <div class="col-md-7">#}
        {#                        <div class="card-body">#}
        {#                            <h5 class="card-title">Kena: Bridge of Spirits</h5>#}
        {#                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
        <div class="row pt-3">
            <div class="col-sm-6">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-5">
                            <a href="{% url 'game-article-template' %}"><img src="https://static.wikia.nocookie.net/megamitensei/images/6/6c/P5R_Key_Art.jpg/revision/latest/scale-to-width-down/340?cb=20190519020504"
                                                                             width="100%" height="100%" class="card-img" alt="..."></a>
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <a href="{% url 'game-article-template' %}"><h5 class="card-title">Persona 5 Royal</h5></a>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <button class="btn" style="background-color: gray; outline-color: gray; color: white" onclick="window.location.href='#'"><i class="far fa-check-square"></i> In Library</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-5">
                            <a href="{% url 'game-article-template' %}"><img src="https://external-preview.redd.it/2QqVCOrlzpEGLBqZswP9p8LvzmyQePqTRGn9fPXD9aI.jpg?auto=webp&s=a64ad1eca60a76182b7a124bf05fd598a8108b98"
                                 width="100%" height="100%" class="card-img" alt="..."></a>
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <a href="{% url 'game-article-template' %}"><h5 class="card-title">Xenoblade Chronicles: Definitive Edition</h5></a>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <button class="btn btn-primary" onclick="window.location.href='#'"><i class="far fa-plus-square"></i> Add to Library</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-sm-6">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-5">
                            <a href="{% url 'game-article-template' %}"><img src="https://static.wikia.nocookie.net/megamitensei/images/6/6c/P5R_Key_Art.jpg/revision/latest/scale-to-width-down/340?cb=20190519020504"
                                                                             width="100%" height="100%" class="card-img" alt="..."></a>
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <a href="{% url 'game-article-template' %}"><h5 class="card-title">Persona 5 Royal</h5></a>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-5">
                            <a href="{% url 'game-article-template' %}"><img src="https://external-preview.redd.it/2QqVCOrlzpEGLBqZswP9p8LvzmyQePqTRGn9fPXD9aI.jpg?auto=webp&s=a64ad1eca60a76182b7a124bf05fd598a8108b98"
                                 width="100%" height="100%" class="card-img" alt="..."></a>
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <a href="{% url 'game-article-template' %}"><h5 class="card-title">Xenoblade Chronicles: Definitive Edition</h5></a>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-sm-6">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-5">
                            <a href="{% url 'game-article-template' %}"><img src="https://static.wikia.nocookie.net/megamitensei/images/6/6c/P5R_Key_Art.jpg/revision/latest/scale-to-width-down/340?cb=20190519020504"
                                                                             width="100%" height="100%" class="card-img" alt="..."></a>
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <a href="{% url 'game-article-template' %}"><h5 class="card-title">Persona 5 Royal</h5></a>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-5">
                            <a href="{% url 'game-article-template' %}"><img src="https://external-preview.redd.it/2QqVCOrlzpEGLBqZswP9p8LvzmyQePqTRGn9fPXD9aI.jpg?auto=webp&s=a64ad1eca60a76182b7a124bf05fd598a8108b98"
                                 width="100%" height="100%" class="card-img" alt="..."></a>
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <a href="{% url 'game-article-template' %}"><h5 class="card-title">Xenoblade Chronicles: Definitive Edition</h5></a>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-sm-6">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-5">
                            <a href="{% url 'game-article-template' %}"><img src="https://static.wikia.nocookie.net/megamitensei/images/6/6c/P5R_Key_Art.jpg/revision/latest/scale-to-width-down/340?cb=20190519020504"
                                                                             width="100%" height="100%" class="card-img" alt="..."></a>
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <a href="{% url 'game-article-template' %}"><h5 class="card-title">Persona 5 Royal</h5></a>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-5">
                            <a href="{% url 'game-article-template' %}"><img src="https://external-preview.redd.it/2QqVCOrlzpEGLBqZswP9p8LvzmyQePqTRGn9fPXD9aI.jpg?auto=webp&s=a64ad1eca60a76182b7a124bf05fd598a8108b98"
                                 width="100%" height="100%" class="card-img" alt="..."></a>
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <a href="{% url 'game-article-template' %}"><h5 class="card-title">Xenoblade Chronicles: Definitive Edition</h5></a>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-sm-6">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-5">
                            <a href="{% url 'game-article-template' %}"><img src="https://static.wikia.nocookie.net/megamitensei/images/6/6c/P5R_Key_Art.jpg/revision/latest/scale-to-width-down/340?cb=20190519020504"
                                                                             width="100%" height="100%" class="card-img" alt="..."></a>
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <a href="{% url 'game-article-template' %}"><h5 class="card-title">Persona 5 Royal</h5></a>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-5">
                            <a href="{% url 'game-article-template' %}"><img src="https://external-preview.redd.it/2QqVCOrlzpEGLBqZswP9p8LvzmyQePqTRGn9fPXD9aI.jpg?auto=webp&s=a64ad1eca60a76182b7a124bf05fd598a8108b98"
                                 width="100%" height="100%" class="card-img" alt="..."></a>
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <a href="{% url 'game-article-template' %}"><h5 class="card-title">Xenoblade Chronicles: Definitive Edition</h5></a>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-sm-6">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-5">
                            <a href="{% url 'game-article-template' %}"><img src="https://static.wikia.nocookie.net/megamitensei/images/6/6c/P5R_Key_Art.jpg/revision/latest/scale-to-width-down/340?cb=20190519020504"
                                                                             width="100%" height="100%" class="card-img" alt="..."></a>
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <a href="{% url 'game-article-template' %}"><h5 class="card-title">Persona 5 Royal</h5></a>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-5">
                            <a href="{% url 'game-article-template' %}"><img src="https://external-preview.redd.it/2QqVCOrlzpEGLBqZswP9p8LvzmyQePqTRGn9fPXD9aI.jpg?auto=webp&s=a64ad1eca60a76182b7a124bf05fd598a8108b98"
                                 width="100%" height="100%" class="card-img" alt="..."></a>
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <a href="{% url 'game-article-template' %}"><h5 class="card-title">Xenoblade Chronicles: Definitive Edition</h5></a>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-sm-6">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-5">
                            <a href="{% url 'game-article-template' %}"><img src="https://static.wikia.nocookie.net/megamitensei/images/6/6c/P5R_Key_Art.jpg/revision/latest/scale-to-width-down/340?cb=20190519020504"
                                                                             width="100%" height="100%" class="card-img" alt="..."></a>
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <a href="{% url 'game-article-template' %}"><h5 class="card-title">Persona 5 Royal</h5></a>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-5">
                            <a href="{% url 'game-article-template' %}"><img src="https://external-preview.redd.it/2QqVCOrlzpEGLBqZswP9p8LvzmyQePqTRGn9fPXD9aI.jpg?auto=webp&s=a64ad1eca60a76182b7a124bf05fd598a8108b98"
                                 width="100%" height="100%" class="card-img" alt="..."></a>
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <a href="{% url 'game-article-template' %}"><h5 class="card-title">Xenoblade Chronicles: Definitive Edition</h5></a>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-sm-6">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-5">
                            <a href="{% url 'game-article-template' %}"><img src="https://static.wikia.nocookie.net/megamitensei/images/6/6c/P5R_Key_Art.jpg/revision/latest/scale-to-width-down/340?cb=20190519020504"
                                                                             width="100%" height="100%" class="card-img" alt="..."></a>
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <a href="{% url 'game-article-template' %}"><h5 class="card-title">Persona 5 Royal</h5></a>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-5">
                            <a href="{% url 'game-article-template' %}"><img src="https://external-preview.redd.it/2QqVCOrlzpEGLBqZswP9p8LvzmyQePqTRGn9fPXD9aI.jpg?auto=webp&s=a64ad1eca60a76182b7a124bf05fd598a8108b98"
                                 width="100%" height="100%" class="card-img" alt="..."></a>
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <a href="{% url 'game-article-template' %}"><h5 class="card-title">Xenoblade Chronicles: Definitive Edition</h5></a>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-sm-6">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-5">
                            <a href="{% url 'game-article-template' %}"><img src="https://static.wikia.nocookie.net/megamitensei/images/6/6c/P5R_Key_Art.jpg/revision/latest/scale-to-width-down/340?cb=20190519020504"
                                                                             width="100%" height="100%" class="card-img" alt="..."></a>
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <a href="{% url 'game-article-template' %}"><h5 class="card-title">Persona 5 Royal</h5></a>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-5">
                            <a href="{% url 'game-article-template' %}"><img src="https://external-preview.redd.it/2QqVCOrlzpEGLBqZswP9p8LvzmyQePqTRGn9fPXD9aI.jpg?auto=webp&s=a64ad1eca60a76182b7a124bf05fd598a8108b98"
                                 width="100%" height="100%" class="card-img" alt="..."></a>
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <a href="{% url 'game-article-template' %}"><h5 class="card-title">Xenoblade Chronicles: Definitive Edition</h5></a>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-sm-6">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-5">
                            <a href="{% url 'game-article-template' %}"><img src="https://static.wikia.nocookie.net/megamitensei/images/6/6c/P5R_Key_Art.jpg/revision/latest/scale-to-width-down/340?cb=20190519020504"
                                                                             width="100%" height="100%" class="card-img" alt="..."></a>
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <a href="{% url 'game-article-template' %}"><h5 class="card-title">Persona 5 Royal</h5></a>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-5">
                            <a href="{% url 'game-article-template' %}"><img src="https://external-preview.redd.it/2QqVCOrlzpEGLBqZswP9p8LvzmyQePqTRGn9fPXD9aI.jpg?auto=webp&s=a64ad1eca60a76182b7a124bf05fd598a8108b98"
                                 width="100%" height="100%" class="card-img" alt="..."></a>
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <a href="{% url 'game-article-template' %}"><h5 class="card-title">Xenoblade Chronicles: Definitive Edition</h5></a>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {#        <div class="card mb-3" style="max-width: 540px;">#}
        {#            <div class="row no-gutters">#}
        {#                <div class="col-md-5">#}
        {#                    <img src="https://cdn2.unrealengine.com/egs-kenabridgeofspirits-emberlab-s6-1200x1600-182980594.jpg"#}
        {#                         width="100%" height="100%" class="card-img" alt="...">#}
        {#                </div>#}
        {#                <div class="col-md-7">#}
        {#                    <div class="card-body">#}
        {#                        <h5 class="card-title">Kena: Bridge of Spirits</h5>#}
        {#                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
    </div>
</div><br>
<div class="container text-center">Copyright StackOverflowers Studios&copy; 2021. All rights reserved.</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
