<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>My Backlog Handler</title>
    <link rel="icon" href="/static/Images/controller-logo.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/home/stylesheet.css" type="text/css">
</head>

<body class="text-white bg-dark">
    <header>
        <div id="primary-nav">
            <div class="container-fluid">
                <nav class="navbar navbar-dark navbar-expand-lg" style="font-family: 'arcadeclassicregular';">
                    <a class="navbar-brand" href="{% url 'homepage' %}">
                        <img src="/static/Images/controller-logo.png" width="30" height="30" alt="Logo">
                        My Backlog Handler
                    </a>
                    <button data-toggle="collapse" data-target="#navbarToggler" type="button"
                        class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarToggler">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url 'homepage' %}">Home</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                                    href="#">Games</a>
                                <div class="dropdown-menu bg-dark">
                                    <a href="#" class="dropdown-item">New Releases</a>
                                    <a href="#" class="dropdown-item">Popular</a>
                                    <a href="#" class="dropdown-item">Upcoming</a>
                                    <a href="#" class="dropdown-item">Recently Added</a>
                                    <div class="dropdown-divider bg-light"></div>
                                    <a href="{% url 'about-us' %}" class="dropdown-item">About Us</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" href="#">Tools
                                    & Tips</a>
                                <div class="dropdown-menu bg-dark">
                                    <a href="#" class="dropdown-item">Tips</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'library' %}">Library</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'backlog' %}">Backlog</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <form class="d-flex">
                                    <input class="form-control me-2" type="search" placeholder="Search"
                                        aria-label="Search">
                                    <button class="btn btn-outline-success me-2" type="submit">Search</button>
                                </form>
                            </li>
                            <li class="nav-item">
                                <button class="btn navbar-btn btn-outline-primary me-1"
                                    onclick='window.location.href="{% url 'register' %}"'>Sign up</button>
                                <button class="btn navbar-btn btn-outline-primary me-1"
                                    onclick="window.location.href='#'">Login</button>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <section class="container site-content">
        <h1>Please enter your information to create your account:</h1>
        <div class="container pb-3">
            <form>
                <div class="myform form">
                    <div class="logo mb-3">
                        <div class="col-md-12 text-center">
                            <h1>Sign up</h1>
                        </div>
                    </div>
                    <form action="#" name="registration">
                        <div class="form-group">
                            <label for="exampleInputEmail1">First Name</label>
                            <input type="text" name="firstname" class="form-control" id="firstname"
                                aria-describedby="emailHelp" placeholder="Enter Firstname">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Last Name</label>
                            <input type="text" name="lastname" class="form-control" id="lastname"
                                aria-describedby="emailHelp" placeholder="Enter Lastname">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" name="email" class="form-control" id="email"
                                aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Password</label>
                            <input type="password" name="password" id="password" class="form-control"
                                aria-describedby="emailHelp" placeholder="Enter Password">
                        </div>
                        <div class="col-md-12 text-center mb-3">
                            <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Sign up</button>
                        </div>
                        <div class="col-md-12 ">
                            <div class="form-group">
                                <p class="text-center"><a href="#" id="signin">Already have an account?</a></p>
                            </div>
                        </div>
                    </form>
                </div>
            </form>
        </div>
    </section>
    <div class="container text-center">Copyright &copy; 2021. All rights reserved.</div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>