<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1" charset="UTF-8">
    <title>My Backlog Handler</title>
    <link rel="icon" href="/static/Images/controller-logo.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/home/stylesheet.css" type="text/css">
</head>

<body class="text-white bg-dark">
<header>
    <div id="primary-nav">
        <div class="container-fluid">
            <nav class="navbar navbar-dark navbar-expand-xl" style="font-family: 'arcadeclassicregular';">
                <a class="navbar-brand" href="{% url 'homepage' %}">
                    <img src="/static/Images/controller-logo.png" width="30" height="30" alt="Logo">
                    My Backlog Handler
                </a>
                <button data-toggle="collapse" data-target="#navbarToggler" type="button"
                        class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarToggler">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "homepage" %}">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                               href="#">Games</a>
                            <div class="dropdown-menu bg-dark">
                                <a href="#" class="dropdown-item">New Releases</a>
                                <a href="#" class="dropdown-item">Popular</a>
                                <a href="#" class="dropdown-item">Upcoming</a>
                                <a href="#" class="dropdown-item">Recently Added</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'library' %}">Library</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active" data-toggle="dropdown" role="button" href="#">Backlog</a>
                            <div class="dropdown-menu bg-dark">
                                <a href="{% url 'backlog' %}" class="dropdown-item">My Backlog</a>
                                <div class="dropdown-divider bg-light"></div>
                                <a href="{% url 'tips-tricks' %}" class="dropdown-item">Tips</a>
                            </div>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about-us' %}">About Us</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <form class="d-flex">
                                <input class="form-control me-2" type="search" placeholder="Search"
                                       aria-label="Search">
                                <button class="btn btn-outline-success me-2" type="submit">Search</button>
                            </form>
                        </li>
                        <li class="nav-item">
                            <button class="btn navbar-btn btn-outline-primary me-1"
                                    onclick="window.location.href='{% url "register" %}'">Sign up</button>
                            <button class="btn navbar-btn btn-outline-primary me-1"
                                    onclick='window.location.href="{% url 'login' %}"'>Login</button>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
<br>
<div>
    <section class="container site-content">
        <h1>Tips & Tricks</h1>
    </section>
</div><br>
<div class="container text-center">Copyright StackOverflowers Studios&copy; 2021. All rights reserved.</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>