<!DOCTYPE html>
<html>

<head>
    {% if request.user.is_authenticated %}
        {% include 'home/navTemplate.html' %}
    {% else %}
        {% include 'home/navOutTemplate.html' %}
    {% endif %}
    <style>
        p {
            font-family: pressStart2P, sans-serif;
        }
    </style>
</head>
<body>
<br>
<div>
    <section class="container site-content animate__animated animate__backInDown animate__faster">
        <h1>Tips & Tricks</h1>
    </section>
    <div class="container site-content animate__animated animate__fadeIn animate__faster table-responsive">
        <ul class="pt-2">
            <li><p>A nice way to work on decreasing the size of your Backlog is to pick two games that you like and alternate
                    between them. This way, when you're feeling burnt out on one of the games you have something else to play
                    whilst still working on reducing your backlog. It's win-win!</p></li>
            <li><p>Be careful not to start too many games at once though, that's how Backlogs get started in the first place.</p></li>
            <li><p>Remember that even though a Backlog tends to be seen and thought of as something negative, it's usually
                    not worth sacrificing your sanity just to decrease a number. At the end of the day, playing games
                    should be about having fun above anything else.</p></li>
            <li><p>This also applies if you're an avid games collector, a game you've bought but haven't started is technically
                    part of your backlog, but it'd be such a shame to take the plastic off that limited edition release and
                    depreciate its value, wouldn't it?</p></li>
            <li><p>If you barely have time to play as it is, whether it be because of school or your job, maybe you
                    don't <strong  style="font-size: 18px">need</strong> to buy the game right now. You might even
                    save some money. Now that's a pro gamer move!</p></li>
        </ul>
    </div>
</div><br>
<div class="container text-center">Copyright StackOverflowers Studios&copy; 2021. All rights reserved.</div><br>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>